<h3>Article Form</h3>
<%= form_tag article_path, method: :patch do %>
  <label>Title</label><br>
  <%= text_field_tag :'article[title]', @article.title %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag :'article[description]', @article.description %><br>

  <%= submit_tag "Submit Article" %>
<% end %>